@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply font-sans;
  }
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.animate-slide-up {
    animation: slideUp 0.3s ease-in-out forwards;
}

@keyframes slideLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.animate-slide-left {
    animation: slideLeft 0.3s ease-in-out forwards;
}

@keyframes slideOutLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%); opacity: 0;
    }
}

.animate-slide-out-left {
    animation: slideOutLeft 0.3s ease-in-out backwards;
}
